interactions:
- request:
    body: '{"Keyword": "", "ExactMatch": true, "SearchModule": 10, "FilterModule":
      1, "SearchMainAddress": false, "PlanCriteria": {"PlanNumber": null, "PlanTypeId":
      null, "PlanWorkclassId": null, "PlanStatusId": null, "ProjectName": null, "ApplyDateFrom":
      null, "ApplyDateTo": null, "ExpireDateFrom": null, "ExpireDateTo": null, "CompleteDateFrom":
      null, "CompleteDateTo": null, "Address": null, "Description": null, "SearchMainAddress":
      false, "ContactId": null, "ParcelNumber": null, "TypeId": null, "WorkClassIds":
      null, "ExcludeCases": null, "EnableDescriptionSearch": false, "PageNumber":
      0, "PageSize": 0, "SortBy": null, "SortAscending": false}, "PermitCriteria":
      {"PermitNumber": null, "PermitTypeId": null, "PermitWorkclassId": null, "PermitStatusId":
      null, "ProjectName": null, "IssueDateFrom": null, "IssueDateTo": null, "Address":
      null, "Description": null, "ExpireDateFrom": null, "ExpireDateTo": null, "FinalDateFrom":
      null, "FinalDateTo": null, "ApplyDateFrom": null, "ApplyDateTo": null, "SearchMainAddress":
      false, "ContactId": null, "TypeId": null, "WorkClassIds": null, "ParcelNumber":
      null, "ExcludeCases": null, "EnableDescriptionSearch": false, "PageNumber":
      0, "PageSize": 0, "SortBy": null, "SortAscending": false}, "InspectionCriteria":
      {"Keyword": null, "ExactMatch": false, "Complete": null, "InspectionNumber":
      null, "InspectionTypeId": null, "InspectionStatusId": null, "RequestDateFrom":
      null, "RequestDateTo": null, "ScheduleDateFrom": null, "ScheduleDateTo": null,
      "Address": null, "SearchMainAddress": false, "ContactId": null, "TypeId": [],
      "WorkClassIds": [], "ParcelNumber": null, "DisplayCodeInspections": false, "ExcludeCases":
      [], "ExcludeFilterModules": [], "HiddenInspectionTypeIDs": null, "PageNumber":
      0, "PageSize": 0, "SortBy": null, "SortAscending": false}, "CodeCaseCriteria":
      {"CodeCaseNumber": null, "CodeCaseTypeId": null, "CodeCaseStatusId": null, "ProjectName":
      null, "OpenedDateFrom": null, "OpenedDateTo": null, "ClosedDateFrom": null,
      "ClosedDateTo": null, "Address": null, "ParcelNumber": null, "Description":
      null, "SearchMainAddress": false, "RequestId": null, "ExcludeCases": null, "ContactId":
      null, "EnableDescriptionSearch": false, "PageNumber": 0, "PageSize": 0, "SortBy":
      null, "SortAscending": false}, "RequestCriteria": {"RequestNumber": null, "RequestTypeId":
      null, "RequestStatusId": null, "ProjectName": null, "EnteredDateFrom": null,
      "EnteredDateTo": null, "DeadlineDateFrom": null, "DeadlineDateTo": null, "CompleteDateFrom":
      null, "CompleteDateTo": null, "Address": null, "ParcelNumber": null, "SearchMainAddress":
      false, "PageNumber": 0, "PageSize": 0, "SortBy": null, "SortAscending": false},
      "BusinessLicenseCriteria": {"LicenseNumber": null, "LicenseTypeId": null, "LicenseClassId":
      null, "LicenseStatusId": null, "BusinessStatusId": null, "LicenseYear": null,
      "ApplicationDateFrom": null, "ApplicationDateTo": null, "IssueDateFrom": null,
      "IssueDateTo": null, "ExpirationDateFrom": null, "ExpirationDateTo": null, "SearchMainAddress":
      false, "CompanyTypeId": null, "CompanyName": null, "BusinessTypeId": null, "Description":
      null, "CompanyOpenedDateFrom": null, "CompanyOpenedDateTo": null, "CompanyClosedDateFrom":
      null, "CompanyClosedDateTo": null, "LastAuditDateFrom": null, "LastAuditDateTo":
      null, "ParcelNumber": null, "Address": null, "TaxID": null, "DBA": null, "ExcludeCases":
      null, "TypeId": null, "WorkClassIds": null, "ContactId": null, "PageNumber":
      0, "PageSize": 0, "SortBy": null, "SortAscending": false}, "ProfessionalLicenseCriteria":
      {"LicenseNumber": null, "HolderFirstName": null, "HolderMiddleName": null, "HolderLastName":
      null, "HolderCompanyName": null, "LicenseTypeId": null, "LicenseClassId": null,
      "LicenseStatusId": null, "IssueDateFrom": null, "IssueDateTo": null, "ExpirationDateFrom":
      null, "ExpirationDateTo": null, "ApplicationDateFrom": null, "ApplicationDateTo":
      null, "Address": null, "MainParcel": null, "SearchMainAddress": false, "ExcludeCases":
      null, "TypeId": null, "WorkClassIds": null, "ContactId": null, "PageNumber":
      0, "PageSize": 0, "SortBy": null, "SortAscending": false}, "LicenseCriteria":
      {"LicenseNumber": null, "LicenseTypeId": "ddf09feb-ce7d-4437-839d-33296fd1c849_c7f4be57-4935-461c-bcf1-8d89c7973b81",
      "LicenseClassId": "none", "LicenseStatusId": "none", "BusinessStatusId": "none",
      "ApplicationDateFrom": null, "ApplicationDateTo": null, "IssueDateFrom": "2025-01-01",
      "IssueDateTo": null, "ExpirationDateFrom": null, "ExpirationDateTo": null, "SearchMainAddress":
      false, "CompanyTypeId": "none", "CompanyName": null, "BusinessTypeId": "none",
      "Description": null, "CompanyOpenedDateFrom": null, "CompanyOpenedDateTo": null,
      "CompanyClosedDateFrom": null, "CompanyClosedDateTo": null, "LastAuditDateFrom":
      null, "LastAuditDateTo": null, "ParcelNumber": null, "Address": null, "TaxID":
      null, "DBA": null, "ExcludeCases": null, "TypeId": null, "WorkClassIds": null,
      "ContactId": null, "HolderFirstName": null, "HolderMiddleName": null, "HolderLastName":
      null, "MainParcel": null, "EnableDescriptionSearchForBLicense": false, "EnableDescriptionSearchForPLicense":
      false, "PageNumber": 1, "PageSize": 20, "SortBy": "relevance", "SortAscending":
      false}, "ProjectCriteria": {"ProjectNumber": null, "ProjectName": null, "Address":
      null, "ParcelNumber": null, "StartDateFrom": null, "StartDateTo": null, "ExpectedEndDateFrom":
      null, "ExpectedEndDateTo": null, "CompleteDateFrom": null, "CompleteDateTo":
      null, "Description": null, "SearchMainAddress": false, "ContactId": null, "TypeId":
      null, "ExcludeCases": null, "EnableDescriptionSearch": false, "PageNumber":
      0, "PageSize": 0, "SortBy": null, "SortAscending": false}, "LicenseSortList":
      [{"Key": "relevance", "Value": "Relevance"}, {"Key": "LicenseNumber.keyword",
      "Value": "License Number"}, {"Key": "CompanyName.keyword", "Value": "Company
      Name"}, {"Key": "AppliedDate", "Value": "Applied Date"}, {"Key": "MainAddress",
      "Value": "Address"}], "ExcludeCases": null, "SortOrderList": [{"Key": true,
      "Value": "Ascending"}, {"Key": false, "Value": "Descending"}], "HiddenInspectionTypeIDs":
      null, "PageNumber": 0, "PageSize": 0, "SortBy": "relevance", "SortAscending":
      true}'
    headers:
      Content-Type:
      - application/json
      tenantId:
      - '1'
      tenantName:
      - EnerGovProd
    method: POST
    uri: https://selfservice.portlandmaine.gov/energov_prod/selfservice/api/energov/search/search
  response:
    body:
      string: '{"Result":{"EntityResults":[{"CaseId":"12463353-14cc-4c3b-b747-d02c5e6d3cd1","CaseNumber":"20182727","CaseTypeId":null,"CaseType":"Long
        Term Housing Registration - Multi Family","CaseWorkclassId":null,"CaseWorkclass":"Multi
        Family","CaseStatusId":null,"CaseStatus":"Revoked","ProjectName":null,"IssueDate":"2025-01-08T08:35:01","ApplyDate":"2024-12-31T15:28:39.773","ExpireDate":"2025-12-31T00:00:00","CompleteDate":null,"FinalDate":null,"RequestDate":null,"ScheduleDate":null,"StartDate":null,"ExpectedEndDate":null,"Address":{"CountryTypeId":0,"CountryTypeName":"US","CountryName":null,"StreetTypeName":"","PreDirection":"","PostDirection":"","AddressLine1":"24","AddressLine2":"HIGH
        ST","AddressLine3":"","AddressTypeName":"Location","UnitOrSuite":"","City":"Portland","StateName":"ME","ProvinceName":"","RuralRoute":"","POBox":"","Station":"","CompSite":"","ATTN":"","PostalCode":"","IsMain":true,"FullAddress":"24
        HIGH ST Portland ME"},"ModuleName":8,"AddressDisplay":"24 HIGH ST Portland
        ME","MainParcel":"044  A002001","Description":"Housing Safety Registration","DBA":"TPO
        PROPERTIES LLC  ","LicenseYear":null,"CompanyName":"","CompanyTypeName":"Sole
        Proprietorship","BusinessTypeName":"","TaxID":null,"OpenedDate":"2016-01-28T00:00:00","ClosedDate":null,"LastAuditDate":null,"HolderCompanyName":null,"HolderFirstName":"","HolderLastName":"","HolderMiddleName":"","BusinessId":"A08FE1B7-AFCE-4A2A-9E93-06CFE0544D61","BusinessStatus":"Active","Highlights":null},{"CaseId":"a0466c8a-971f-47d9-af7a-79ff21cbac4f","CaseNumber":"LTR-006187-2024","CaseTypeId":null,"CaseType":"Long
        Term Housing Registration - Multi Family","CaseWorkclassId":null,"CaseWorkclass":"Multi
        Family","CaseStatusId":null,"CaseStatus":"Revoked","ProjectName":null,"IssueDate":"2025-04-09T23:00:03.057","ApplyDate":"2025-04-09T04:00:00","ExpireDate":"2025-12-31T00:00:00","CompleteDate":null,"FinalDate":null,"RequestDate":null,"ScheduleDate":null,"StartDate":null,"Expe[...]
[...]
